html {
    font-family: Arial,Helvetica,Sans,Sans-Serif,"Sans Serif";
    font-size: 100%;
    line-height: 1.25;
}
body {
    font-size: 12px;
    color: #444;
}

main#main {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 700px;
    float: left;
    margin-left: 0;
}

article.car {
    height: 126px;
    border-top: 1px solid transparent;
    padding-bottom: 14px;
    border-bottom: 1px solid #888;
    margin-bottom: 1px;
    background-color: #fff;
}

div.car-image{
    position: relative;
    float: left;
    width: 182px;
    height: 126px;
    overflow: visible;
    border-right: 0;
    margin-right: 9px;
}

img.car-image {
    width: 182px;
    height: 126px;
    position: static;
    transform: translate(0,0);
}

div.car-details {
    width: 483px;
    height: 126px;
    position: relative;
    float: left;
    padding-left: 0;
    border-right: 0;
    margin-left: 0;
}

h3.title {
    font-size: 18px;
    height: 22px;
    line-height: 20px;
    cursor: pointer;
    border-top: 1px solid #e6e6e6;
    width: 483px;
    text-indent: 10px;
    margin: 0 0 0 -9px;
    padding-left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.price {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 134px;
    height: 126px;
    padding-top: 3px;
    border: 1px solid #e6e6e6;
    right: 0;
}